CMakeLists.txt.user
build/
*~
lib/

############king###############################33
*.bin

####### evaluation
*.zip

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMakeLists.txt
*.txt.user

# .gitignore
*.swp
*~

# build file
build
build-*

# Vocabulary file
Vocabulary
# pcd file
*.pcd

# shell
*.sh~

# python
*.pyc

# ch02/notMNIST_small
ch02/05/notMNIST_small
ch02/08/notMNIST_small

# hdf5
*.h5

# png
*.png

# voc2012
ch02/13/Voc/

# 14
ch02/14/lmdb_test
ch02/14/lmdb_train

# 15
ch02/15/lmdb_test_data
ch02/15/lmdb_test_label
ch02/15/lmdb_train_data
ch02/15/lmdb_train_label

# .prototxt
*.prototxt
